#cboxOverlay {
	background-color: rgba(black, .9);
	background-image: none;
}

#cboxTopLeft, #cboxTopCenter, #cboxTopRight, #cboxMiddleLeft, #cboxMiddleRight, #cboxBottomLeft, #cboxBottomCenter, #cboxBottomRight {
	display: none;
}

#cboxCurrent { 
	display: none !important;
}

#cboxPrevious, #cboxNext {
    background-color: transparent;
	background-image: none;
    height: 0;
	font-size: 0px;
	left: 0px;
	position: absolute;
	text-indent: 0px;
	top: 50%;
    width: 0;

	&:after {
        background-color: transparent;
		font-family: 'FontAwesome';
        font-size: 32px;
        position: absolute;
        top: 9px;
		transition: color .15s linear;
        -webkit-font-smoothing: antialiased;
	}

	&:focus {
		outline: 0px !important;
	}
}

#cboxPrevious {
    margin-top: -20px;
    left: -40px;
    position: absolute;

	&:after {
		content: '\f053';
		margin-right: 2px;
	}
}

#cboxNext {
	left: auto !important;
	margin-top: -20px;
	right: -40px;

	&:after {
		content: '\f054';
		margin-left: 2px;
	}
}

#colorbox, #cboxOverlay, #cboxWrapper, #cboxContent {
	overflow: visible !important;
}

#colorbox {
    z-index: 99999;
}

#cboxLoadedContent {
	margin: 0px;
}

#cboxClose {
    background-color: transparent;
    background-image: none;
    font-size: 0px;
    height: 0;
    right: -40px;
    top: 0px;
    position: absolute;
    text-indent: 0px;
    width: 0;

	&:after {
		color: #fff;
		content: '\f00d';
		display: inline-block;
		font-family: 'FontAwesome';
        font-size: 32px;
        line-height: 0.6;
        margin-top: 0px;
        position: absolute;
        text-indent: 0px;
        top: 0px;
        transition: color .15s linear;
        -webkit-font-smoothing: antialiased;
	}
}
