.modal-inner {
    display: none;
}

.modal-screen {
    transition: all linear .2s;
    visibility: hidden;

    &.open {
        background-color: rgba(black, .9);
        bottom: 0px;
        visibility: visible;
        left: 0px;
        position: fixed;
        right: 0px;
        top: 0px;
        z-index: 9999;
    }

    .modal-close {
        color: rgba(#fff, .8);
        cursor: pointer;
        font-size: 32px;
        position: absolute;
        right: 6%;
        top: 10%;
        transition: color .15s linear;

        &:hover {
            color: #fff;
        }
    }

    .modal-inner {
        background-color: transparent;
        display: block;
        left: 50%;
        position: absolute;
        top: 50%;
        transform: translateX(-50%) translateY(-50%);
        -webkit-transform: translateX(-50%) translateY(-50%);

        h2 {
            color: #fff;
            font-size: 52px;
            font-weight: 400;
            margin: 0px 0px 120px 0px;
            text-align: center;
        }

        ul {
            list-style: none;
            margin: 0px;
            padding: 0px;

            li {
                display: inline-block;
                margin: 0px 30px;
            }

            .fa {
                background-color: rgba(#fff, .8) !important;
                border-radius: 50%;
                color: rgba(black, .8) !important;
                display: block;
                font-size: 60px;
                height: 140px;
                line-height: 140px;
                text-align: center;
                width: 140px;

                &:active, &:hover, &:focus {
                    background-color: #fff !important;
                    border: 0px;
                    color: rgba(black, .8) !important;
                }
            }
        }
    }
}