.post-detail {
    img {
        max-width: 100%;
        height: auto;
    }

    .post-meta {
        margin-top: 0px;
    }

    img + .post-meta {
        margin-top: 30px;
    }

    .post-content {
        display: block;
        text-align: justify;

        p {
            margin-top: 15px;
        }

        a {
            border-bottom: 1px solid $color-gray-medium;
            transition: all .15s linear;

            &:hover {
                border-bottom: transparent;
            }
        }
    }

    .post-content-image {
        max-width: 45%;
        margin-bottom: 15px;
        margin-top: 33px;

        &.pull-left {
            margin-right: 30px;
        }

        &.pull-right {
            margin-left: 30px;
        }
    }

    h2 {
        border-bottom: 1px solid #e9e9e9;
        color: #363636;
        font-weight: 300;
        margin: 40px 0px 30px 0px;
        padding-bottom: 20px;
    }

    h3 {
        margin-top: 30px;
        margin-bottom: 25px;
    }

    .drop-cap:first-letter {
        color: $color-black-light;
        float: left;
        font-size: 46px;
        line-height: 42px;
        margin-top: 5px;
        padding-right: 8px;
        padding-left: 0px;
    }

    .post-meta-tags {
        background-color: #fff;
        clear: both;
        display: inline-block;
        font-size: 13px;
        margin: 30px 0px 0px 0px;
        padding: 15px 20px 5px;
        width: 100%;

        ul {
            display: inline;
            padding-left: 0px;
        }

        .tag {
            background-color: $color-primary;
            border-radius: 3px;
            color: #fff;
            display: inline-block;
            font-weight: 300;
            margin-left: 20px;
            margin-bottom: 10px;
            padding: 2px 6px 2px 8px;
            position: relative;
            transition: all linear .15s;

            a {
                color: #fff;
                position: relative;
                z-index: 2;

                &:hover {
                    color: #fff;
                    text-decoration: none;
                }
            }

            &:before {
                background-color: $color-primary;
                border-radius: 3px;
                content: "";
                display: block;
                height: 16px;
                left: -7px;
                position: absolute;
                transform: rotate(45deg);
                -webkit-transform: rotate(45deg);
                transition: all linear .15s;
                width: 17px;
                margin-top: 1px;
                z-index: 0;
            }

            &:after {
                background-color: #fff;
                border-radius: 50%;
                content: "";
                display: block;
                height: 5px;
                left: -2px;
                position: absolute;
                top: 8px;
                width: 5px;
            }

            &:hover {
                background-color: darken($color-primary, 10%);

                &:before {
                    background-color: darken($color-primary, 10%);
                }
            }
        }
    }
}