.pricing-container {
    @media (max-width: $screen-xs-max) {
        margin: 0px 0px 30px 0px;
        width: 100% !important;
    }
}

.pricing-inner {
    background-color: #fff;
    border: 1px solid $color-gray-medium;
    color: $color-black;
    text-align: center;

    @media (max-width: $screen-xs-max) {
        margin-bottom: 30px;
    }

    .button {
        margin-bottom: 20px;
    }

    sup {
        font-size: 16px;
        margin: 0px 5px 0px 0px;
        vertical-align: 9px;
    }

    small {
        color: $color-black;
        font-size: 16px;
    }

    &.highlighted {
        border: 3px solid $color-primary;
        margin-top: -2px;

        .button{
            @extend .btn-secondary;
        }
    }
}

.pricing-header {
    border-bottom: 1px solid $color-gray-medium;
    padding: 25px;
}

.pricing-title {
    font-size: 20px;
    font-weight: 400;
    line-height: 1.4;
    margin: 0px 0px 5px 0px;
}

.pricing-description {
    color: rgba($color-black-light, .5);
    font-size: 14px;
    font-weight: 400;
    line-height: 1.4;
}

.pricing-price {
    font-size: 40px;
    font-weight: 400;
    line-height: 1.4;
    margin: 25px 0px 30px 0px;
}

ul.pricing-list {
    list-style: none;
    padding: 35px 25px;

    li {
        font-size: 17px;
        font-weight: bold;
        border-bottom: none;
        margin-bottom: 15px;

        &:last-child {
            margin-bottom: 0px;
        }
    }

    small {
        color: $color-gray-dark;
        display: block;
        font-size: 13px;
        font-weight: 400;
        margin-bottom: 5px;
    }
}
