.nav-tabs {
    border: 0px;

    li {
        border: 0px !important;
        padding: 0px !important;

        @media (max-width: $screen-xs-max) {
            background-color: rgba(black, .03);
            float: none;
        }

        a {
            border: 0px !important;
            border-radius: 0px !important;
            color: $color-gray-darker;
            display: block;
            font-weight: 400;
            margin: 0px;
            padding: 15px 25px;
        }

        &.active {
            a {
                background-color: #fff;
                border: 0px !important;
                color: $color-black;
                font-weight: 500;
            }
        }
    }
}

.tab-content {
    @extend .clearfix;

    background-color: #fff;
    padding: 20px 10px;

    ul {
        @extend .row;
        overflow: hidden;
        position: relative;

        &:after {
            background-color: #fff;
            bottom: 0px;
            content: '';
            display: block;
            height: 1px;
            left: 0px;
            position: absolute;
            right: 0px;
        }
    }

    li {
        @extend .col-sm-4, .col-md-3;
        border: 0px !important;
        color: $color-black;
        display: block;
        padding-left: 15px !important;
        padding-right: 15px !important;
        padding-bottom: 0px !important;
        padding-top: 0px !important;

        a {
            border-bottom: 1px dashed $color-gray-medium;
            color: $color-black;
            display: block;
            padding: 8px 0px;

            span {
                color: $color-gray-darker;
                display: inline-block;
                font-size: 11px;
                margin: 0 0 0 5px;
                vertical-align: 1px;
            }

            &:before {
                color: $color-primary;
                content: '\f10c';
                display: inline-block;
                font-family: 'FontAwesome';
                font-size: 6px;
                margin: 0px 13px 0px 0px;
                vertical-align: 2px;
            }

            &:after {
                color: $color-gray-dark;
                content: '\f054';
                display: block;
                float: right;
                font-family: 'FontAwesome';
                font-size: 8px;
                margin-right: 5px;
                margin-top: 5px;
            }
        }
    }
}