#primary {
    .widget_filter {
        form {
            @extend .clearfix;
            padding: 20px 5px 5px 5px;
        }

        button {
            display: block;
            margin: 0px;
            width: 100%;
        }

        .form-group {
            @extend .col-sm-3;

            margin-bottom: 20px;
        }

        .has-labels {
            .checkbox {
                padding-top: 23px;
            }

            button[type=submit] {
                margin-top: 23px;
            }
        }
    }
}

.widget {
    .widgettitle {
        color: $color-black;
        font-size: 36px;
        font-weight: 300;
        margin: 0px 0px 60px;
        padding: 0px;
        text-align: center;
    }

    .description {
        font-size: 15px;
        line-height: 24px;
        margin: -45px 0 60px;
        padding: 0 20%;
        text-align: center;

        @media (max-width: $screen-xs-max) {
            padding: 0px;
        }
    }

    .widget-inner {
        background-size: cover;
        background-position: center center;
        margin-left: -750px;
        margin-right: -750px;
        padding-left: 750px;
        padding-right: 750px;
    }

    .widget-pt {
        padding-top: 80px;
    }

    .widget-pb {
        padding-bottom: 80px;
    }

    &:last-of-type {
        margin-bottom: 0px;
    }

    img {
        max-width: 100%;
        height: auto;
    }

    ul {
        list-style: none;
        margin: 0px;
        padding: 0px;

        li {
            border-bottom: 1px dashed rgba(black, .1);
            padding: 8px 0px;
        }
    }

    .dropdown-menu li {
        border-bottom: none;
        padding: 0px;
    }

    &.widget_archive, &.widget_categories {
        li {
            font-size: 0px;

            a {
                font-size: 13px;
            }
        }
    }

    &.widget_archive, &.widget_categories, &.widget_pages, &.widget_nav_menu, &.widget_recent_entries, &.widget_meta {
        ul {
            li {
                border-bottom: none;
                padding-bottom: 0px;

                a {
                    border-bottom: 1px dashed rgba(black, .1);
                    color: $color-gray-darker;
                    line-height: 26px;
                    display: block;
                    padding-bottom: 8px;
                    transition: all .15s linear;

                    &:hover {
                        color: $color-primary;
                        padding-left: 5px;
                    }

                    strong {
                        color: $color-primary;
                        font-size: 11px;
                    }
                }

                &:last-child {
                    a {
                        border-bottom: 0px;
                    }
                }

                li {
                    padding-left: 20px;

                    &:last-child {
                        a {
                            border-bottom: 1px dashed rgba(black, .1);
                        }
                    }
                }
            }
        }
    }

    .textwidget {
        line-height: 24px;
    }

    .tagcloud {
        background-color: #fff;
        clear: both;
        display: inline-block;
        font-size: 13px;
        margin: 0px;
        padding: 20px 20px 10px;
        position: relative;
        width: 100%;
        z-index: 0;

        a {
            background-color: $color-primary;
            border-radius: 3px;
            color: #fff;
            display: inline-block;
            font-size: 13px !important;
            font-weight: 300;
            margin-left: 9px;
            margin-right: 4px;
            margin-bottom: 10px;
            padding: 2px 6px 2px 8px;
            position: relative;
            transition: all linear .15s;
            z-index: 3;

            &:before {
                background-color: $color-primary;
                border-radius: 3px;
                content: "";
                display: block;
                height: 16px;
                left: -7px;
                position: absolute;
                transform: rotate(45deg);
                -webkit-transform: rotate(45deg);
                transition: all linear .15s;
                width: 17px;
                margin-top: 1px;
                z-index: -1;
            }

            &:after {
                background-color: #fff;
                border-radius: 50%;
                content: "";
                display: block;
                height: 5px;
                left: -2px;
                position: absolute;
                top: 8px;
                width: 5px;
            }

            &:hover {
                background-color: darken($color-primary, 10%);

                &:before {
                    background-color: darken($color-primary, 10%);
                }
            }
        }
    }

    &.widget_filter {
        form {
            background-color: #fff;
            padding: 20px;
        }

        .form-group:last-of-type {
            margin-bottom: 0;

            button {
                @extend .btn-filter;
                @extend .btn-block;
                margin-bottom: 0;
            }
        }
    }

    &.widget_call_to_action {
        color: #fff;
        font-size: 28px;
        font-weight: 300;

        .background-white {
            color: $color-black;
        }

        i {
            color: $color-primary;
            float: left;
            font-size: 44px;
            margin: 11px 35px 0px 0px;

            @media (max-width: $screen-xs-max) {
                float: none;
                margin: 0px 0px 20px 0px;
            }
        }

        .btn {
            float: right;
            line-height: 24px;
            margin: 10px 0px 0px 0px;
            padding-left: 30px;
            padding-right: 30px;

            @media (max-width: $screen-xs-max) {
                float: none;
            }
        }

        span, strong {
            display: block;
        }

        span {
            @media (max-width: $screen-xs-max) {
                margin: 0px 0px 20px 0px;
            }
        }

        strong {
            color: $color-gray-darker;
            font-size: 17px;
            font-weight: 400;

            @media (max-width: $screen-xs-max) {
                float: none;
                margin: 0px 0px 20px 0px;
            }
        }

        .widget-pt {
            padding-top: 60px;
        }

        .widget-pb {
            padding-bottom: 60px;
        }
    }
}

.footer-top .widget, .footer-bottom .widget, .sidebar .widget, #primary .widget {

    .widget-inner {
        margin-left: 0px;
        margin-right: 0px;
        padding-left: 0px;
        padding-right: 0px;
    }
}

.footer-top .widget, .footer-bottom .widget, .sidebar .widget {
    .widgettitle {
        border-bottom: 1px solid $color-gray-medium;
        color: $color-gray-darker;
        font-size: 26px;
        line-height: 60px;
        margin: 0px 0px 30px 0px;
        text-align: left;
    }

    .description {
        font-size: 14px;
        margin: -10px 0 30px;
        padding: 0;
        text-align: left;
    }
}

.sidebar .widget {
    margin-bottom: 30px;
}

#primary .widget {
    .widgettitle {
        margin: 0px 0px 40px;
        text-align: left;
    }

    .description {
        margin: -30px 0 40px;
        text-align: left;
        padding: 0 20%;
    }

    .widget-pt {
        padding-top: 60px;
    }

    .widget-pb {
        padding-bottom: 60px;
    }
}

.footer-top .widget, .footer-bottom .widget {
    .widgettitle {
        border-bottom: none;
        line-height: 1.1;
    }

    &.widget_nav_menu {
        ul {
            @extend .nav;
            @extend .nav-pills;

            li {
                padding: 0px;

                a {
                    border-bottom: none;
                    line-height: 1.9;
                    padding: 0px 20px;

                    &:hover {
                        background-color: transparent;
                    }
                }
            }

            ul {
                display: none;
            }
        }
    }
}

.footer-area .widget {
    &.widget_nav_menu {
        ul {
            li {
                display: block;
                float: none;
                margin: 0;

                a {
                    border-bottom: 1px solid rgba(white, .06);
                }

                &:last-child {
                    a {
                        border: 0;
                    }
                }
            }
        }
    }
}

.footer-top .widget {
    &.widget_nav_menu .menu li a {
        padding: 0px;
        margin-right: 30px;

        &:hover {
            color: $color-primary;
        }

        &:active, &:focus, &:hover {
            background-color: transparent;
        }

        i {
            background-color: $color-primary;
            border-radius: 50%;
            font-size: 12px;
            height: 24px;
            line-height: 25px;
            margin-right: -15px;
            text-align: center;
            width: 24px;
        }
    }

    @media (max-width: $screen-xs-max) {
        padding: 8px 0px;

        &:active, &:focus, &:hover {
            background-color: transparent;
        }
    }
}

.widget_dashboard_navigation {
    ul {
        background-color: #fff;
        padding: 20px;

        li {
            &:last-child {
                border-bottom: 0px;
            }
        }
    }
}
