/*
Theme Name: Superlist Child
Theme URI: http://preview.byaviators.com/theme/superlist
Author: Aviators
Author URI: http://byaviators.com
Template: superlist
Description: Directory WordPress Theme
Version: 1.0.0
Tags: two-columns, right-sidebar, featured-images, translation-ready
License: GNU General Public License
License URI: http://www.gnu.org/licenses/gpl.html
*/

.center             { text-align: center; }
.aligncenter        { margin: auto; text-align: center; margin-bottom: 22px; display: block !important;}
.alignleft          { float: left; margin: 0px 30px 22px 0px;  }
.alignright         { float: right; margin: 0px 0px 22px 30px; }

.left               { float:left;  }
.right              { float:right; }

small               { font-size: 12px; line-height: 14px; }
strong              { }
b                   { font-weight: bold; }

.normal             { font-weight: normal; }
.hidden             { display: none; }
.wp-caption         { }
.wp-caption-text    { }
.sticky             { }
.gallery-caption    { }
.bypostauthor       { }
.header-search-bar { padding-left: 0px; margin-top: 11%; margin-left: 19%; width: 100%;}
.header-content { width:40%}
.header-content.custom {width:10% }
.header-sticky .header-wrapper.affix { height:95px;}
.listings-slider-dots {display:none}
.header-wrapper.affix  .header-search-bar{margin-top: 7%;}
.header-logo img {width:185px;  max-height:180px !important; padding-right:)px !important}
.listing-detail-attributes ul li{width:100%}
.listing-detail-menu ul li{display:inline-block !important}
.admin-bar.header-sticky .listing-detail-menu.affix{top:116px;}
.header-sticky .listing-detail-menu.affix{top:95px}
.detail-banner .detail-banner-right.affix .detail-banner-price{margin-top:25px}
.package-info-wrapper{display:none;}
.detail-banner-shadow.custom{height:60%; top:22%}
.listings-slider-item:after {background-color:rgba(54, 54, 54, 0) !important;}
.listings-slider-item-info-wrapper{background-color: rgba(54, 54, 54, 0.48);top: 100%;width: 100%;}
.listing-detail-gallery .owl-controls, .listing-detail-gallery .owl-nav{
    box-sizing: border-box;
    color: rgb(134, 134, 134);
    width: 747.5px;
    perspective-origin: 373.75px 0px;
    transform-origin: 373.75px 0px;
    border: 0px none rgb(134, 134, 134);
    font: normal normal normal normal 14px / 20px Roboto, Arial, sans-serif;
    outline: rgb(134, 134, 134) none 0px;
}/*#DIV_1, #DIV_2, #DIV_7*/

.listing-detail-gallery .owl-prev {
    box-sizing: border-box;
    color: rgb(255, 255, 255);
    cursor: pointer;
    height: 33px;
    left: 14px;
    position: absolute;
    top: 215px;
    width: 31.8594px;
    z-index: 0;
    perspective-origin: 15.9219px 16.5px;
    transform: matrix(1, 0, 0, 1, 0, -16.5);
    transform-origin: 15.9219px 16.5px;
    background: rgb(9, 114, 158) none repeat scroll 0% 0% / auto padding-box border-box;
    border: 0px none rgb(32, 77, 116);
    font: normal normal normal normal 14px / 14px Roboto, Arial, sans-serif;
    outline: rgb(255, 255, 255) none 0px;
    padding: 5px 10px 4px 9px;
    transition: all 0.15s linear 0s;
}/*#DIV_3*/

.listing-detail-gallery .fa-chevron-left{
    box-sizing: border-box;
    color: rgb(255, 255, 255);
    cursor: pointer;
    display: inline-block;
    height: 24px;
    width: 12.8594px;
    perspective-origin: 6.42188px 12px;
    transform-origin: 6.42188px 12px;
    border: 0px none rgb(255, 255, 255);
    font: normal normal normal normal 18px / 18px FontAwesome;
    outline: rgb(255, 255, 255) none 0px;
    padding: 3px 0px;
    transition: all 0.15s linear 0s;
}/*#I_4*/

.listing-detail-gallery .fa-chevron-left:before {
    box-sizing: border-box;
    color: rgb(255, 255, 255);
    cursor: pointer;
    border: 0px none rgb(255, 255, 255);
    font: normal normal normal normal 18px / 18px FontAwesome;
    outline: rgb(255, 255, 255) none 0px;
}/*#I_4:before*/

.listing-detail-gallery .owl-next {
    box-sizing: border-box;
    color: rgb(255, 255, 255);
    cursor: pointer;
    height: 33px;
    position: absolute;
    right: 14px;
    top: 215px;
    width: 31.8594px;
    z-index: 0;
    perspective-origin: 15.9219px 16.5px;
    transform: matrix(1, 0, 0, 1, 0, -16.5);
    transform-origin: 15.9219px 16.5px;
    background: rgb(10, 131, 182) none repeat scroll 0% 0% / auto padding-box border-box;
    border: 0px none rgb(46, 109, 164);
    font: normal normal normal normal 14px / 14px Roboto, Arial, sans-serif;
    outline: rgb(255, 255, 255) none 0px;
    padding: 5px 9px 4px 10px;
    transition: all 0.15s linear 0s;
}/*#DIV_5*/

.listing-detail-gallery .fa-chevron-right {
    box-sizing: border-box;
    color: rgb(255, 255, 255);
    cursor: pointer;
    display: inline-block;
    height: 24px;
    width: 12.8594px;
    perspective-origin: 6.42188px 12px;
    transform-origin: 6.42188px 12px;
    border: 0px none rgb(255, 255, 255);
    font: normal normal normal normal 18px / 18px FontAwesome;
    outline: rgb(255, 255, 255) none 0px;
    padding: 3px 0px;
    transition: all 0.15s linear 0s;
}/*#I_6*/

.listing-detail-gallery .fa-chevron-righ:before {
    box-sizing: border-box;
    color: rgb(255, 255, 255);
    cursor: pointer;
    border: 0px none rgb(255, 255, 255);
    font: normal normal normal normal 18px / 18px FontAwesome;
    outline: rgb(255, 255, 255) none 0px;
}/*#I_6:before*/

.center{
  position: fixed;
     top: 40%;
    right: -2%;
    width: 113px;
  height: 0px;
  text-align:right;
  z-index:9999;
    margin-top:-15px;
}

.center a{
                transform: rotate(-90deg);
				-webkit-transform: rotate(-90deg); 
				-moz-transform: rotate(-90deg); 
				-o-transform: rotate(-90deg); 
				filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
                display: block; 
                background:url("assets/img/shop.png") no-repeat 20% center; 
               text-align:center;
                height: 15px; 
                width: 140px;
                padding: 16px 20px;
                color: #fff; 
                font-family: Arial, sans-serif; 
                font-size: 17px; 
                font-weight: bold; 
                text-decoration: none; 
                border-bottom: solid 1px #333; border-left: solid 1px #333; border-right: solid 1px #fff;
        
}
button {background-color: #fff;
    color: #e51d35;
    font-size: 16px;
    border: 1px solid rgba(204, 204, 204, 0.5);
    border-left: none;
}
button:hover {background-color: #fff !important;
    color: #e51d35;
    font-size: 16px;
    border: 1px solid rgba(204, 204, 204, 0.5);
    border-left: none;
}
button:active {background-color: #fff !important;
    color: #e51d35;
    font-size: 16px;
    border: 1px solid #e9e9e9 !important;
    border-left: none;
}
button:focus {background-color: #fff !important;
    color: #e51d35;
    font-size: 16px;
    border: 1px solid #e9e9e9 !important;
    border-left: none !important;
}
button:after {background-color:rgba(0, 0, 0, 0) !important}
input[type=text]{border:1px solid #e9e9e9 !important;}
  h1 {color: #e71b34; font-size: 24px;font-weight: 500;} 
 .button {background-color: #e71b34; border:none !important}
  .button:hover {background-color: #e71b34 !important}
  /* input[type=submit] {background-color: #e71b34 !important}
      input[type=submit]:hover {background-color: #e71b34 !important} */
	  .document-title h1 {color:#0060ac;font-size: 24px;
    font-weight: 400;}
	
	.cmb2-upload-button{color:#fff}

#verifyotp{top:33% !important}

#A_1 ,#verifyotp{
box-sizing: border-box;
color: rgb(255, 255, 255);
display: block;
height: 21px;
position: absolute;
right: 25%;
text-align: center;
text-decoration: none;
top: 19%;
width: 66.2813px;
perspective-origin: 33.1406px 10.5px;
transform-origin: 33.1406px 10.5px;
background: rgb(2, 85, 147) none repeat scroll 0% 0% / auto padding-box border-box;
border: 0px none rgb(255, 255, 255);
border-radius: 5px 5px 5px 5px;
font: normal normal normal normal 12px / normal PTSans-Regular;
outline: rgb(255, 255, 255) none 0px;
padding: 3px 8px;
transition: all 0.2s linear 0s;
}/*#A_1*/

#A_1.success,#verifyotp.success{ background: #36bd35;}
#verifyotp.disable{ display: none;}
.pinInnerMsg {
    color: #e71b34;
    font-size: 12px;
    line-height: 12px;
    padding-left: 10px;
}

.continueOverlay1 {
    box-sizing: border-box;
    height: 100%;
    left: 0px;
    position: fixed;
    text-align: center;
    top: 0px;
    vertical-align: middle;
    width: 100%;
    z-index: 8888;
    perspective-origin: 674.5px 184.5px;
    transform-origin: 674.5px 184.5px;
    background: rgba(51, 51, 51, 0.658824) none repeat scroll 0% 0% / auto padding-box border-box;
    font: normal normal normal normal 16px / normal PTSans-Regular;
    overflow: hidden;
}/*#DIV_1*/



.continuePopupGrid {
    box-shadow: rgb(147, 147, 147) 0px 0px 31px 0px;
    box-sizing: border-box;
    display: inline-block;
    height: 70px;
    text-align: center;
    vertical-align: middle;
    width: 420px;
	margin-top:20%;
    perspective-origin: 210px 35px;
    transform-origin: 210px 35px;
    background: rgb(255, 255, 255) none repeat scroll 0% 0% / auto padding-box border-box;
    font: normal normal normal normal 16px / normal PTSans-Regular;
    padding: 10px;
}/*#DIV_2*/


.defaultmsg  {
    background-position: 0px 50%;
    box-sizing: border-box;
    color: rgb(119, 118, 118);
    height: 40px;
    text-align: center;
    width: 400px;
    perspective-origin: 200px 20px;
    transform-origin: 200px 20px;
    background: rgba(0, 0, 0, 0) none repeat scroll 0px 50% / auto padding-box border-box;
    border: 0px none rgb(119, 118, 118);
    font: normal normal normal normal 16px / normal PTSans-Regular;
    margin: 0px 0px 10px;
    outline: rgb(119, 118, 118) none 0px;
    padding: 10px;
}/*#P_3*/


.listings-slider-list .owl-prev {    width: 40px !important;    border: 1px solid #868686 !important;  }

.listings-slider-list .owl-next {    width: 40px !important;    border: 1px solid #868686 !important;  }

.listing-box-label-bottom  a{color:#fff;}
.box-icon.custom {height:50px}
.header-nav-container{width:73%}
.header-content .nav > li {margin-left:-7%}
.partner-featured-image {text-align:center;}
.partner-featured-image a img {max-width:65%; max-height:100% !important}
.partner-title {text-align:center}
.footer .widget_boxes_five .row > div, .footer .widget_boxes_five .tab-content ul > div, .tab-content .footer .widget_boxes_five ul > div, .footer .widget_boxes_five .video-cover-filter form > div, .video-cover-filter .footer .widget_boxes_five form > div {
  float: none;
  width: 100%; }
  .ui-menu {width:360px !important; z-index:9999 !important}
  
  @media (max-width: 1200px) {
.header-nav-container {
    width: 85%;
}
  .header-search-bar {
    padding-left: 0px;
    margin-top: 17%;
    margin-left: 20%;
    width: 86%;
}
  @media (max-width: 999px) {
.header-content .nav > li {
    width: 35%;
    margin-left: -10%;
}
.header-nav-container {
    width: 82%;
}
  
  
  }