.coupon-detail {
    margin-top: 32px;
}

/******************************************************************
 * Coupon Gallery
 ******************************************************************/
#coupon-detail-section-gallery {
    margin-top: -12px;

    .page-header {
        display: none;
    }
}

.coupon-detail-gallery-outer {
    margin: 0px 0px 60px 0px;
}

.coupon-detail-gallery {
    a {
        visibility: hidden;
    }

    .owl-item a {
        visibility: visible;
    }

    .item-image {
        background-repeat: no-repeat;
        background-position: center center;
        background-size: 100% auto;
        height: 450px;

        @media (min-width: $screen-md-min) and (max-width: $screen-md-max) {
            height: 380px;
        }

        @media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
            height: 300px;
        }

        @media (min-width: $screen-xs-min) and (max-width: $screen-xs-max) {
            height: 250px;
        }
    }
}

.coupon-detail-gallery-preview {
    background-color: #fff;
    padding: 0px 50px;

    .owl-item {
        cursor: pointer;
        border-bottom: 2px solid transparent;
        transition: all linear .15s;

        &.highlighted {
            border-color: $color-primary;
        }

        div {
            display: inline-block;
            margin: 0px 10px;
            padding: 20px 0px;
        }
    }

    .owl-stage {
        margin-left: auto;
        margin-right: auto;
    }

    .owl-next, .owl-prev {
        @extend .btn-primary;
        line-height: 1;
        padding: 0px;
        position: absolute;
        transition: all linear .15s;
        transform: translateY(-50%);
        -webkit-transform: translateY(-50%);
        top: 50%;

        i {
            background-color: transparent;
            font-size: 18px;
            height: auto;
            margin: 0px;
            padding: 3px 0px;
            transition: all linear .15s;
        }

        &:hover {
            background-color: $color-primary;

            i {
                color: #fff;
            }
        }
    }

    .owl-next {
        right: 14px;
        padding: 5px 9px 4px 10px;
    }

    .owl-prev {
        left: 14px;
        padding: 5px 10px 4px 9px;
    }
}

/******************************************************************
 * Coupon Small
 ******************************************************************/
.coupon-small {
    background-color: #fff;
    margin: 0px 0px 30px 0px;

    &:hover {
        .coupon-small-image-link {
            background-color: rgba($color-black, .7);
            opacity: 1;

            &:after {
                opacity: 1;
            }
        }
    }
}

.coupon-small-image {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100px;
    position: relative;

    &:hover {
        .coupon-box-image-content {
            opacity: 1;
        }
    }
}

.coupon-small-image-link {
    bottom: 0px;
    display: block;
    left: 0px;
    position: absolute;
    right: 0px;
    top: 0px;
    z-index: 10;

    &:after {
        top: 50%;
        -webkit-transform: translateY(-50%) translateX(-50%);
        transform: translateY(-50%) translateX(-50%);
        border-radius: 50%;
        border: 1px solid #fff;
        color: #fff;
        content: "\f06e";
        display: inline-block;
        font-family: 'FontAwesome';
        height: 30px;
        left: 50%;
        opacity: 0;
        padding-top: 4px;
        position: absolute;
        text-align: center;
        transition: all linear .2s;
        width: 30px;
    }
}

.coupon-small-image-label {
    background-color: $color-green;
    color: #fff;
    font-size: 13px;
    font-weight: 500;
    left: 20px;
    padding: 4px 0px;
    position: absolute;
    text-align: center;
    top: 0px;
    width: 42px;
}

.coupon-small-image-location {
    bottom: 10px;
    color: #fff;
    display: block;
    font-size: 12px;
    font-weight: 500;
    left: 20px;
    position: absolute;

    a {
        color: #fff;
    }
}

.coupon-small-image-shadow {
    background-image: linear-gradient(to top, rgba(black, .3), transparent 50%);
    bottom: 0px;
    left: 0px;
    position: absolute;
    right: 0px;
    top: 0px;
}

.coupon-small-content {
    padding: 20px;

    h2 {
        display: block;
        font-size: 15px;
        font-weight: 400;
        margin: 0px;
        overflow: hidden;
        padding: 0px;
        text-overflow: ellipsis;
        white-space: nowrap;

        a {
            color: $color-black;

            &:active, &:focus {
                color: $color-primary;
                text-decoration: none;
            }
        }
    }

    p {
        font-size: 12px;
        line-height: 20px;
        margin: 0px;
    }
}

/******************************************************************
 * Coupon Box
 ******************************************************************/
.coupon-box {
    background-color: #fff;
    margin: 0px 0px 30px 0px;
}

.coupon-box-image {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 160px;
    position: relative;

    &:hover {
        .coupon-box-image-content {
            opacity: 1;
        }
    }

    .listing-box-rating {
        bottom: 18px;
        font-size: 13px;
        opacity: 1;
        position: absolute;
        right: 20px;
    }
}

.coupon-box-image-link {
    bottom: 0px;
    display: block;
    left: 0px;
    position: absolute;
    right: 0px;
    top: 0px;
}

.coupon-box-image-discount {
    background-color: $color-green;
    color: #fff;
    font-size: 15px;
    font-weight: 500;
    left: 20px;
    padding: 6px 0px;
    position: absolute;
    text-align: center;
    top: 0px;
    width: 52px;
}

.coupon-box-image-location {
    bottom: 20px;
    color: #fff;
    display: block;
    font-size: 12px;
    font-weight: 500;
    left: 20px;
    position: absolute;

    a {
        color: #fff;
    }
}

.coupon-box-image-shadow {
    background-image: linear-gradient(to top, rgba(black, .3), transparent 50%);
    bottom: 0px;
    left: 0px;
    position: absolute;
    right: 0px;
    top: 0px;
}

.coupon-box-image-content {
    background-color: rgba($color-primary, .9);
    bottom: 10px;
    color: #fff;
    left: 10px;
    opacity: 0;
    position: absolute;
    right: 10px;
    top: 10px;
    transition: opacity .2s linear;

    p {
        font-size: 13px;
        margin: 0px;
        line-height: 20px;
        padding: 20px;
        position: absolute;
        transform: translateY(-50%);
        top: 50%;
    }
}

.coupon-box-content {
    padding: 20px;

    h2 {
        display: block;
        font-size: 15px;
        font-weight: 400;
        margin: 0px;
        overflow: hidden;
        padding: 0px;
        text-overflow: ellipsis;
        white-space: nowrap;

        a {
            color: $color-black;

            &:active, &:focus {
                color: $color-primary;
                text-decoration: none;
            }
        }
    }

    p {
        font-size: 12px;
        line-height: 20px;
        margin: 0px;
    }
}

.coupon-box-content-sub {
    font-size: 12px;
    margin: 7px 0px 0px 0px;
}

.coupon-box-content-view {
    float: right;
}

/******************************************************************
 * Coupon Detail Widget
 ******************************************************************/
.widget_coupon_detail {
    .widget-content {
        background-color: #fff;
        padding: 20px;

        h3 {
            font-size: 13px;
            font-weight: 400;
            margin: 20px 0px 5px 0px;
        }
    }
}

.widget_coupon_detail_button {
    background-color: $color-green;
    color: #fff;
    display: block;
    font-size: 13px;
    font-weight: 700;
    padding: 15px 0px;
    position: relative;
    text-align: center;
    text-transform: uppercase;

    &:active, &:focus, &:hover {
        background-color: darken($color-green, 4%);
        color: #fff;
        text-decoration: none;
    }

    &:after {
        background-color: rgba(black, .2);
        bottom: 0px;
        content: '';
        display: block;
        height: 2px;
        left: 0px;
        position: absolute;
        right: 0px;
    }
}

.widget_coupon_detail_description {
    font-size: 12px;
    line-height: 20px;

    ul {
        li {
            &:last-child {
                border-bottom: 0px;
            }
        }
    }
}

.widget_coupon_detail_available_code, .widget_coupon_detail_expiration {
    margin: 7px 0px 0px 0px;
}

.widget_coupon_detail_warning {
    background-color: $color-warning;
    color: #fff;
    padding: 12px 20px;
}
