.filter {
    background-color: #fff;
    margin: 0px 0px 40px 0px;
    padding: 20px;

    .checkbox-wrapper {
        @extend .clearfix;
        margin-bottom: 10px;

        .checkbox {
            @extend .col-sm-6, .col-md-4, .col-lg-3;

            margin-bottom: 7px;
            margin-top: 7px;
            padding: 0px;

            label {
                color: $color-gray-darker;
                font-weight: 400;
                padding: 0px;
            }
        }
    }

    .form-group {
        margin-bottom: 25px;
    }

    button[type=submit] {
        float: right;

        @media (max-width: $screen-xs-max) {
            display: block;
            margin: 40px 0px 0px 0px;
        }
    }
}

.filter-actions {
    margin-top: 10px;

    a {
        color: rgba(black, .45);
        font-weight: 400;
        margin: 0px 30px 0px 0px;

        &:hover {
            color: $color-primary;
        }
    }

    .fa {
        color: $color-gray-dark;
        font-size: 13px;
        margin: 0px 7px 0px 0px;
        vertical-align: 0px;
    }
}

.filter-sort {
    float: right;
    margin-top: -6px;

    .form-group {
        display: inline-block;
    }
}

.filter-sorting-options {
    border-top: 1px solid $color-gray;
    clear: both;
    margin: 0px -5px -5px -5px;
    padding: 20px 5px 0px 5px;

    .sidebar & {
        padding: 20px 0px 0px 0px;
    }
}

.filter-sorting-title {
    float: right;
    padding: 10px 15px 0px 15px;
}

.filter-sorting-content {
    float: right;

    .form-group {
        width: 210px !important;
    }
}

.filter-sorting-inner-group {
    display: inline;
}

.filter-sorting-inner .filter-sorting-inner-group-types {
    @media (max-width: $screen-xs-max) {
        ul {
            display: block;
            margin: 10px 0 0 0;

            li {
                display: block;
                float: none;
                margin: 10px 0;
                padding: 0;

                a {
                    display: block !important;
                }
            }
        }
    }
}

.filter-sorting-inner {
    font-size: 12px;
    padding: 5px 0px 25px 16px;

    strong {
        color: $color-black;
        font-weight: 500;
        padding: 0px 10px 0px 0px;
        vertical-align: -1px;
    }

    ul {
        display: inline;
        margin: 0px;
        padding: 0px 10px 0px 0px;

        li {
            border: 0px;
            display: inline;
            padding: 0px 3px;

            a {
                border: 1px solid $color-gray-medium;
                color: $color-gray-darker;
                cursor: pointer;
                display: inline-block;
                font-size: 11px;
                min-width: 40px;
                padding: 7px 12px;
                text-align: center;

                &.active {
                    background-color: $color-black-light;
                    border-color: $color-black-light;
                    color: #fff;

                    &:hover {
                        background-color: $color-black-light;
                        border-color: $color-black-light;
                        color: #fff;
                    }
                }

                &:hover {
                    border-color: $color-black-light;
                    color: $color-black-light;
                }
            }
        }
    }

    .sidebar & {
        padding: 0px;

        strong {
            display: block;
        }

        ul {
            @extend .clearfix;
            display: block;
            margin: 5px 0px;
        }

        li {
            display: block;
            float: left;
            margin: 5px 5px 5px 0px;
            padding: 0px;
        }
    }
}

.filter-sorting-inner-group {
    @media (max-width: $screen-md-max) {
        display: block;
        margin: 0px 0px 20px 0px;
    }
}

.filter-sorting-inner-group.filter-sorting-inner-group-order {
    a {
        min-width: 31px;
        padding-left: 0px;
        padding-right: 0px;
        text-align: center;
        width: 31px;
    }
}

.filter-sorting-inner-styles {
    float: right;
    padding: 0px 16px;

    @media (max-width: $screen-md-max) {
        float: none;
        padding: 0px;
    }

    .sidebar & {
        float: none;
        padding: 0px;
    }

    a {
        border: 1px solid $color-gray-medium;
        color: $color-gray-darker;
        display: inline-block;
        margin: 0px 0px 0px -4px;
        padding: 6px 12px;
        position: relative;

        .sidebar & {
            margin: 0px;
        }

        &.active {
            background-color: $color-black-light;
            border-color: $color-black-light;
            color: #fff;
            z-index: 10;
        }
    }

    ul {
        margin: 0px;
        padding: 0px;

        li {
            margin: 0px;
            padding: 0px;
        }
    }

    i {
        font-size: 12px;
        padding-right: 8px;
        vertical-align: middle;
    }

    span {
        font-size: 11px;
        vertical-align: middle;
    }
}

.filter-result-numbers {
    font-weight: 200;
    margin: 40px 0px 0px 0px;

    span {
        font-weight: 400;

        &.match {
            color: $color-primary;
            font-weight: 500;
        }
    }
}

.inventor-watchdog-btn {
    color: $color-gray-darker;
    display: inline-block;
    font-size: 12px;
    margin-top: 10px;

    i {
        background-color: #fff;
        border-radius: 50%;
        box-shadow: 0px 1px 2px rgba(black, .15);
        color: $color-primary;
        font-size: 11px;
        height: 24px;
        line-height: 24px;
        margin: 0px 10px 0px 0px;
        text-align: center;
        vertical-align: 2px;
        width: 24px;
    }

    &:active, &:focus, &:hover {
        color: $color-primary;
        text-decoration: none;
    }
}
