.header {
    display: table-row;
    height: 1px;

    .header-sticky & {
        height: 119px;
    }

    .header-sticky.header-no-topbar {
        height: 80px;
    }

    .header-sticky.header-empty-topbar & {
        height: 80px;
    }
}

.header-bar {
    background-color: #fff;
    position: relative;
    z-index: 200;

    .header-disable-topbar & {
        display: none;
    }

    .menu {
        a strong {
            background-color: $color-black-light;
            color: #fff !important;
            padding: 4px 8px;
        }
    }
}

.header-bar-inner {
    @extend .clearfix;

    border-bottom: 1px solid rgba($color-gray-medium, .5);
    color: $color-gray-darker;
    font-size: 12px;
    padding: 7px 0px;

    .fa {
        color: $color-primary;
        margin-right: 5px;
    }

    .widget {
        display: inline-block;
        vertical-align: middle;
    }

    .widget .menu {
        list-style: none;
        margin: 0px;

        li {
            display: inline-block;
            margin: 0px 10px;
            padding: 0px;

            @media (max-width: $screen-xs-max) {
                margin: 0px 15px 0px 0px;
            }

            b {
                color: $color-black-light;
                font-weight: 500;
            }

            a {
                border: 0px;
                color: $color-gray-darker;
                line-height: 24px;
                margin: 0px;
                padding: 0px;

                &:hover {
                    color: $color-primary;
                    margin: 0px;
                    padding: 0px;
                }

                &:hover {
                    b {
                        color: $color-primary;
                    }
                }
            }

            &:last-child {
                margin-right: 0px;
            }
        }
    }
}

.header-bar-left {
    float: left;

    @media (max-width: $screen-xs-max) {
        float: none;
    }

    .widget {
        margin: 0px 25px 0px 0px;

        @media (max-width: $screen-xs-max) {
            border-bottom: 1px solid $color-gray;
            display: block;
            float: none;
            margin: 0px 0px 5px 0px;
            padding: 0px 0px 5px 0px;

            &:last-child {
                border-bottom: 0px;
            }
        }
    }
}

.header-bar-right {
    float: right;

    @media (max-width: $screen-xs-max) {
        float: none;
    }

    .widget {
        margin: 0px 0px 0px 25px;

        @media (max-width: $screen-xs-max) {
            border-top: 1px solid $color-gray;
            display: block;
            float: none;
            margin: 5px 0px 0px 0px;
            padding: 5px 0px 0px 0px;

            &:first-child {
                margin: 0px;
            }
        }
    }
}

.header-minimal {
    height: 59px;

    .container-fluid {
        padding: 0px !important;
    }
}

.header-wrapper {
    background-color: #fff;
    box-shadow: 0px 1px 1px rgba(black, .1);
    padding: 0px;
    position: relative;
    z-index: 2000;

    .header-transparent & {
        &.affix-top {
            background-color: transparent;
            border-bottom: 1px solid rgba(white, .1);
            box-shadow: none;
        }
    }

    .header-sticky & {
        &.affix {
            z-index: 1001;

            @media (min-width: $screen-sm-min) {
                height: 60px;
                left: 0px;
                position: fixed;
                right: 0px;
                top: 0px;

                .header-logo {
                    height: 60px;
                }

                .header-content .nav > li > a {
                    padding: 21px 20px;
                }
            }
        }
    }

    .header-sticky.admin-bar & {
        &.affix {
            top: 32px;
        }
    }
}

.header-inner {
    display: table;
    position: relative;
    width: 100%;
}

.header-logo {
    display: table-cell;
    padding: 0px 45px 0px 0px;
    vertical-align: middle;
    white-space: nowrap;
    width: 1px;

    a {
        color: $color-black;

        &:active, &:focus, &:hover {
            color: $color-black;
            text-decoration: none;

            .header-transparent .affix-top & {
                color: #fff;
            }
        }

        .header-transparent .affix-top & {
            color: #fff;
        }
    }

    span {
        font-size: 22px;
        font-weight: 300;
        vertical-align: middle;

        @media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
            display: none;
        }
    }

    img {
        max-height: 44px;
        padding-right: 10px;
        vertical-align: middle;
    }

    i.superlist-logo {
        color: $color-primary;
        font-size: 32px;
        margin-right: 10px;
        vertical-align: -6px;

        .header-transparent .affix-top & {
            color: #fff !important;
        }
    }

    .header-minimal & {
        height: 80px;
        padding: 0px;
        text-align: center;

        img, svg {
            margin: 0px;
        }
    }
}

.header-content {
    display: table-cell;
    vertical-align: middle;

    .nav {
        float: right;
        padding: 12px 0px;

        @media (min-width: $screen-sm-min) {
            > li {
                margin: 0px;
                position: relative;

                &.current-menu-item {
                    &:after {
                        background-color: $color-primary;
                        bottom: 0px;
                        content: '';
                        display: block;
                        height: 2px;
                        left: 10px;
                        position: absolute;
                        right: 10px;
                    }
                }

                > a {
                    border-radius: 0px;
                    color: $color-black ;
                    font-size: 13px;
                    padding: 6px 20px;
                    transition: color .15s linear;

                    .header-minimal & {
                        padding: 31px 20px;
                    }

                    &:hover {
                        background-color: transparent;
                        color: $color-primary;
                    }

                    &:active, &:focus {
                        background-color: transparent;
                    }

                    .header-transparent .affix-top & {
                        color: #fff;
                    }
                }

                &.active {
                    > a {
                        background-color: transparent;
                        color: $color-primary;
                    }
                }

                &:hover {
                    > .sub-menu {
                        display: block;
                        opacity: 1;
                        transition: opacity .15s linear;
                        visibility: visible;
                    }
                }

                .sub-menu {
                    background-color: #fff;
                    border: 1px solid $color-gray-medium;
                    display: block;
                    left: 0;
                    list-style: none;
                    margin: 0px;
                    opacity: 0;
                    padding: 12px 0px;
                    position: absolute;
                    visibility: hidden;
                    width: 220px;
                    z-index: 10;

                    .submenu-dark & {
                        background-color: $color-black-light;
                        border: 0px;

                        li > a {
                            color: rgba(#fff, .9);

                            &:hover {
                                background-color: rgba(white, .1);
                                color: #fff;
                            }
                        }

                        li {
                           &:hover {
                               background-color: rgba(white, .1);
                               color: #fff;

                               > a {
                                   color: #fff;
                               }
                           }
                        }

                        &:after {
                            border-bottom-color: $color-black-light;
                            top: -10px;
                        }
                    }

                    &:after {
                        border: 5px solid transparent;
                        border-bottom-color: $color-gray-medium;
                        content: '';
                        display: block;
                        height: 0px;
                        left: 15px;
                        position: absolute;
                        top: -11px;
                        width: 0px;
                    }

                    li {
                        position: relative;

                        a {
                            color: $color-gray-darker;
                            display: block;
                            font-size: 13px;
                            padding: 9px 20px;
                            transition: all .15s linear;
                            white-space: nowrap;

                            &:hover {
                                background-color: $color-gray-light;
                                color: $color-primary;
                                text-decoration: none;
                            }
                        }


                        &:last-child {
                            border-bottom: 0px;
                        }

                        .fa {
                            color: $color-black;
                            display: block;
                            float: right;
                            position: absolute;
                            right: 10px;
                            top: 12px;
                        }

                        > .sub-menu {
                            display: none;
                            opacity: 0;
                            padding: 0px;
                            transition: none;
                            visibility: visible;

                            &:after {
                                display: none;
                            }
                        }

                        &:hover {
                            > a {
                                color: $color-primary;
                            }

                            > .sub-menu {
                                display: block;
                                left: 222px;
                                margin: 0px;
                                opacity: 1;
                                top: 0px;
                                transition: none;
                                visibility: visible;

                                &:before {
                                    background-color: $color-primary;
                                    bottom: 0px;
                                    content: '';
                                    display: block;
                                    height: 100%;
                                    left: -2px;
                                    position: absolute;
                                    top: 0px;
                                    width: 2px;
                                }
                            }
                        }
                    }
                }
            }
        }

        @media (max-width: $screen-xs-max) {
            background-color: #fff;
            float: none;
            left: -15px;
            margin-top: 62px;
            padding: 0px !important;
            position: absolute;
            right: -15px;
            z-index: 99999;

            .header-minimal & {
                padding-left: 15px;
                padding-right: 15px;
            }

            li {
                &.menu-item-has-children {
                    > a {
                        &:after {
                            content: '\f054';
                            display: block;
                            float: right;
                            font-family: 'FontAwesome';
                            font-size: 9px;
                            margin-top: 4px;
                        }
                    }

                    &.touched {
                        > .sub-menu {
                            display:block;
                            opacity: 1;
                            transition: opacity .15s linear;
                            visibility: visible;
                        }
                    }
                }

                display: block;
                margin: 0px;
                float: none;

                &.active {
                    a {
                        background-color: #fff;

                        &:hover {
                            color: $color-primary;
                        }
                    }
                }

                a {
                    border-bottom: 1px solid $color-gray;
                    border-radius: 0px;
                    color: $color-black;
                    display: block;
                    float: none;
                    font-size: 13px;
                    padding: 10px 20px !important;
                    transition: all .15s linear;


                    &:hover {
                        color: $color-primary;
                    }
                }

                > ul {
                    display: none;
                    margin: 0px;
                    padding: 0px;

                    > li {
                        background-color: rgba(black, .03) !important;

                        a {
                            background-color: transparent !important;
                        }
                    }
                }
            }
        }
    }
}

@media (min-width: $screen-sm-min) {
    .header-nav-primary.nav {
        padding: 0px;
        position: relative;
        z-index: 300;

        .fa {
            font-size: 8px;
            margin-left: 10px;
            vertical-align: 2px;
        }

        > li.has-children > a:after {
            content: "\f078";
            display: inline-block;
            font-family: 'FontAwesome';
            font-size: 8px;
            -webkit-font-smoothing: antialiased;
            margin-left: 10px;
            vertical-align: 2px;
        }

        > li {
            > a {
                padding: 20px 17px;
            }

            li.has-children > a:after {
                content: "\f054";
                display: block;
                font-family: 'FontAwesome';
                font-size: 8px;
                -webkit-font-smoothing: antialiased;
                position: absolute;
                right: 15px;
                top: 50%;
                transform: translateY(-50%);
                -webkit-transform: translateY(-50%);
            }
        }
    }
}

.header-nav-secondary.nav {
    > li {
        > a {
            color: $color-gray-dark;
            font-size: 12px;
            padding-left: 15px;
            padding-right: 15px;
        }
    }
}

.header-nav-social.nav {
    margin: 2px 20px 0px 5px;
}

.header-top {
    @extend .clearfix;

    border-bottom: 1px solid rgba(black, .05);
    padding: 6px 0px 2px 0px;

    @media (max-width: $screen-xs-max) {
        display: none;
    }
}

.header-bottom {
    @extend .clearfix;
    text-align: right;
}

.header-nav-container {
    display: inline-block;
    text-align: left;
    vertical-align: middle;
}

.header-action {
    display: inline-block;
    margin: 0px;

    &.open .header-action-inner i {
        transform: rotate(45deg);
    }

    @media (max-width: $screen-xs-max) {
        display: none;
    }
}

.header-action-inner {
    background-color: $color-primary;
    border-radius: 50%;
    color: #fff;
    cursor: pointer;
    display: block;
    font-size: 12px;
    height: 30px;
    line-height: 32px;
    text-align: center;
    transition: all .15s linear;
    width: 30px;

    i {
        color: #fff;
    }

    &:hover {
        background-color: darken($color-primary, 5%);
        color: #fff;
    }
}

.navbar-toggle {
    border: 0px;
    border-radius: 0px;
    float: right;
    margin: 14px 0px;

    .icon-bar {
        background-color: $color-gray-dark;
    }

    &:after {
        display: none;
    }

    &:active, &:hover, &:focus {
        background-color: $color-gray !important;
    }
}


.header-post-types {
    background-color: $color-black-light;
    height: 0px;
    left: 0px;
    margin: 0px;
    opacity: 0;
    overflow: hidden;
    right: 0px;
    position: absolute;
    transition: all linear .2s;
    visibility: hidden;
    z-index: 10;

    &.open {
        height: auto;
        opacity: 1;
        visibility: visible;
    }

    ul {
        float: right;
        list-style: none;
        margin: 0px;
        padding: 3px 0px;
        text-align: center;

        li {
            border-right: 1px solid rgba(white, .15);
            display: inline-block;
            line-height: 1;
            margin: 7px 10px 7px 0px;
            padding: 0px 20px 0px 0px;

            a {
                color: rgba(#fff, .85);
                font-size: 12px;
                line-height: 1;

                &:hover {
                    color: #fff;
                }
            }

            &:last-child {
                border: 0px;
                margin: 0px;
                padding: 0px;
            }
        }
    }
}
