.pagination {
    margin: 60px 0px 0px 0px;
    text-align: center;
    width: 100%;

    .page-numbers {
        background-color: #fff;
        border-radius: 15px;
        color: $color-gray-darker;
        margin: 0px 4px;
        padding: 6px 15px;
        transition: all .15s linear;

        &:hover {
            background-color: $color-primary;
            color: #fff;
        }

        &.dots:hover {
            background-color: $color-gray-lighter;
            color: $color-gray-darker;
        }

        &.current {
            background-color: $color-primary;
            border-color: $color-primary;
            color: #fff;
        }
    }
}

.screen-reader-text {
    display: none;
}

.content + .pagination {
    margin: 0px 0px 60px;
}